<!doctype html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">Eblo</title>
    <!-- 공통 css, js, meta tag -->
    <th:block th:replace="fragments/commonHead"></th:block>
</head>
<body>
<div class="container">
    <h1>Movie Register</h1>

    <form action="/movie/register" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title">
        </div>
        <div class="mb-3">
            <label for="movieFile" class="form-label">Image Files</label>
            <input type="file" name="uploadFiles" id="movieFile" class="form-control custom-file-input files" multiple>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">등록</button>
        </div>

        <div class="box"></div>

    </form>

    <div class="uploadResult">
        <ul></ul>
    </div>

    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            An example danger alert with an icon
        </div>
    </div>



    <button class="btn btn-primary custom-event">커스텀 이벤트</button>

</div>

<script>

    const reg = new Register({alert: ".alert",
        fileInput: ".custom-file-input",
        uploadResult: ".uploadResult",
        submit: ".btn-primary"});

    // setTimeout(function() {
    //     $(".alert").addClass('d-none');
    // }, 1000);
    //
    // function alertShow(msg) {
    //     $(".alert").removeClass('d-none').html(msg);
    //     setTimeout(function(){
    //         $(".alert").addClass('d-none');
    //     }, 1000);
    // }
    //
    // function newImagePreview(files) {
    //
    //     // * 이미지 저장
    //     const saveImage = (files) => {
    //         return URL.createObjectURL(files[0]);
    //     };
    //     // * 이미지 삭제
    //     const deleteImage = (image) => {
    //         return URL.revokeObjectURL(image);
    //     };
    //
    //     let vUrl = saveImage(files);
    //     let uploadUrl = $(".uploadResult ul");
    //     const str = `
    //             <li>
    //                 <div class="card" style="width: 18rem;">
    //                   <img src="${vUrl}" class="card-img-top" alt="thumbnail">
    //                   <div class="card-body">
    //                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    //                   </div>
    //                   <button type="button" class="btn-warning btn-sm">X</button><br>
    //                 </div>
    //             </li>
    //
    //         `;
    //     $(uploadUrl).append(str);
    // }
    //
    // function oldImagePreview(files) {
    //     let regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
    //     let maxSize = 10485760; // 10MB
    //     function checkExtension(fileName, fileSize) {
    //         if (fileSize >= maxSize) {
    //             alert("파일 사이즈 초과");
    //             return false;
    //         }
    //         if (regex.test(fileName)) {
    //             alert("해당 종류의 파일은 업로드할 수 없습니다. ");
    //             return false;
    //         }
    //         return true;
    //     }
    //
    //     let appended = false;
    //     let formData = new FormData();
    //     for (let i = 0; i < files.length; i++) {
    //         console.log(files[i]);
    //         if (!checkExtension(files[i].name, files[i].size)) {
    //             return false;
    //         }
    //         formData.append("uploadFiles", files[i]);
    //         appended = true;
    //     }
    //     // upload를 하지 않는다.
    //     if (!appended) {
    //         return;
    //     }
    //     for (let value of formData.values()) {
    //         console.log(value);
    //     }
    //     // 실제 업로드 부분
    //     fetch('/uploadFetch', {
    //         method: 'POST',
    //         body: formData
    //     })
    //         .then((response) => response.json())
    //         .then((result) => {
    //             console.log('Success:', result);
    //
    //             function showResult(uploadResultArr) {
    //                 let uploadUrl = $(".uploadResult ul");
    //                 let str = "";
    //                 $(uploadResultArr).each((i, obj) => {
    //                     str = `
    //                         <li data-name="${obj.fileName}" data-path="${obj.folderPath}" data-uuid="${obj.uuid}">
    //                             <div class="card" style="width: 18rem;">
    //                               <img src="/display?fileName=${obj.thumbnailUrl}" class="card-img-top" alt="thumbnail">
    //                               <div class="card-body">
    //                                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    //                               </div>
    //                               <button type="button" data-file="${obj.imageUrl}" class="btn-warning btn-sm">X</button><br>
    //                             </div>
    //                         </li>
    //
    //                     `
    //                 })
    //                 $(uploadUrl).append(str);
    //             }
    //
    //             showResult(result);
    //         })
    //         .catch((error) => {
    //             console.error('Error:', error);
    //         });
    // }
    //
    // document.querySelector(".custom-file-input").addEventListener("change", function (e) {
    //     let inputFile = document.querySelector("input[name='uploadFiles']");
    //     let files = inputFile.files;
    //     newImagePreview(files);
    //     // oldImagePreview(files);
    // });
    //
    // $(".uploadResult").on("click", "li button", function(e) {
    //     console.log("delete file");
    //     let targetFile = $(this).data("file");
    //     let targetLi = $(this).closest("li");
    //     $.ajax({
    //         url: "/removeFile",
    //         data: {fileName: targetFile},
    //         dataType: "text",
    //         type: "POST",
    //         success: function (result) {
    //           // alert(result);
    //             alertShow(result);
    //             targetLi.remove();
    //         },
    //     })
    //
    // });
    //
    // $(".btn-primary").on("click", function(e) {
    //     e.preventDefault();
    //
    //     let str = "";
    //
    //     $(".uploadResult li").each(function(i, obj) {
    //         let target = $(obj);
    //
    //         str = `
    //             <input type="hidden" name="imageDTOList[${i}].imgName" value="${target.data('name')}">
    //             <input type="hidden" name="imageDTOList[${i}].path" value="${target.data('path')}">
    //             <input type="hidden" name="imageDTOList[${i}].uuid" value="${target.data('uuid')}">
    //         `
    //     });
    //
    //     // 태그들이 추가된 것을 확인 후에 comment를 제거
    //     $(".box").html(str);
    //
    //     // $("form").submit();
    // })


</script>

</body>
</html>