<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UploadFile Ex</title>
</head>
<body>
<input type="file" multiple name="uploadFiles">
<button class="uploadBtn">Upload</button>
<div class="uploadResult"></div>

<script>
    document.querySelector(".uploadBtn").addEventListener("click", function () {
        let formData = new FormData();
        let inputFile = document.querySelector("input[name='uploadFiles']");
        let files = inputFile.files;

        for (let i = 0; i < files.length; i++) {
            console.log(files[i]);
            formData.append("uploadFiles", files[i]);
        }

        fetch('/uploadFetch', {
            method: 'POST',
            body: formData
        })
            .then((response) => response.json())
            .then((result) => {
                console.log('Success:', result);
                showUploadImages(result);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });

    document.querySelector(".uploadResult").addEventListener("click", function (e) {
        let target = e.target;
        if (target.dataset.name !== '') {
            let fileName = target.dataset.name;
            let formData = new FormData();
            formData.append("fileName", fileName);

            fetch('/removeFile', {
                method: "POST",
                body: formData
            }).then((response) => response.json())
                .then((result) => {
                    console.log('Success:', result);
                    location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    });

    function showUploadImages(arr) {
        console.log(arr);

        let divArea = document.querySelector(".uploadResult");

        let str = "";
        for (let i = 0; i < arr.length; i++) {
            str = `
            <div>
                <img src=/display?fileName=${arr[i].thumbnailUrl}>
                <button class="removeBtn" data-name="${arr[i].imageUrl}">REMOVE</button>
            </div>
            `;
            divArea.insertAdjacentHTML("beforeend", str);
        }
    }
</script>
</body>
</html>